*{
    padding: 0;
    margin: 0;
}
.conteiner{
    width: 1200px;
    height: 1440px;
    background-color: #1E1F2F;
}
.under_cont{
    width: 1200px;
    height: 250px;
    background-color: #252639;
    display: flex;
}
header{
    display: flex;
    justify-content: space-around;
    padding-top: 21px;
    font-family: 'Blinker', sans-serif;
}
.logo{
    padding-left: 17px;
    padding-top: 13px;
}
.gg{
    padding-left: 200px;
}
.lg{
    color: #FFFF;
    padding-left: 50px;
}
.lgg_n{
    
    padding-top: 113px;
}
.lgg{
    
    color: #FFFF;
    font-size: 40px;
}
.all{
    display: flex;
    flex-direction: column;
}
.dan{
    padding-top: 50px;
    display: flex;
}
.a{
    margin-left: 70px;
    padding-top: 50px;
    font-size: 20px;
    color: #FFFF;
}
.a1{
    margin-left: 70px;
    width: 500px;
    height: 50px;
    background: #0066CC;
    font-size: 20px;
    padding-left: 50px;
    border: none;
    color: #FFFF;
}
.b{
    margin-left: 70px;
    padding-top: 50px;
    font-size: 20px;
    color: #FFFF;
}
.b1{
    margin-left: 70px;
    width: 420px;
    height: 50px;
    width: 420px;
    height: 50px;
    background: #0066CC;
    font-size: 30px;
    padding-left: 50px;
    border: none;
}
.c{
    margin-left: 70px;
    padding-top: 50px;
    font-size: 30px;
    color: #FFFF;
}
.c1{
    margin-left: 70px;
    width: 500px;
    height: 50px;
    background: #0066CC;
    font-size: 20px;
    padding-left: 50px;
    border: none;
}
.d{
    margin-left: 70px;
    padding-top: 50px;
    font-size: 30px;
    color: #FFFF;
}
.d1{
    margin-left: 70px;
    width: 500px;
    height: 50px;
    background: #0066CC;
    font-size: 30px;
    padding-left: 50px;
    border: none;
}
.g{
    padding-left: 50px;
}
.g1{
    margin-left: 80px;
    width: 115px;
    height: 50px;
    background: #0066CC;
    border: none;
}
.g2{
    margin-left: 128px;
    margin-top: 50px;
    font-size: 20px;
    color: #FFFF;
}
.g3{
    display: flex;
    flex-direction: column;
}
.g4{
    margin-left: 38px;
    width: 115px;
    height: 50px;
    background: #0066CC;
    border: none;
}
.g5{
    margin-left: 38px;
    width: 115px;
    height: 50px;
    background: #0066CC;
    border: none;
}
.h{
    margin-left: 70px;
    padding-top: 50px;
    font-size: 20px;
    color: #FFFF;
    font-size: 30px;
}
.check{
    padding-right: 100px;
    padding-top: 50px;
    display: flex;
    align-items: center;
}
.chk{
    padding-right: 23px;
    width: 30px;
    height: 30px;
}
.ckh{
    margin-left: 23px;
    color: #FFFF;
}
.bt{
    margin-top: 90px;
    margin-left: 70px;
    padding-right: 100px;
    padding-top: 50px;
}
.btn{
    width: 411px;
    height: 75px;
    background: #0066CC;
    border-radius: 20px;
    color: #FFFF;
    font-size: 28px;
}
.rt{
    display: flex;
}
.k1{
    margin-left: 70px;
    width: 213px;
    height: 50px;
    background: #0066CC;
    font-size: 30px;
    padding-left: 50px;
    border: none;
}
.k2{
    margin-left: 37px;
    width: 213px;
    height: 50px;
    background: #0066CC;
    font-size: 30px;
    padding-left: 50px;
    border: none;
}